body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
}

/* EventsComponent's private CSS styles */
.events {
  list-style: none;
}
.events li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.eventsdate {
  color: #0086b3;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

